:root {
    --background-color: #f0f2f5;
    --text-color: #333;
    --button-bg-color: #007bff;
    --button-text-color: white;
    --button-hover-bg-color: #0056b3;
}

body {
    font-family: 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
    --background-color: #1a1a1a;
    --text-color: #f0f2f5;
    --button-bg-color: #0056b3;
    --button-hover-bg-color: #007bff;
}

.container {
    text-align: center;
}

h1 {
    color: var(--text-color);
    margin-bottom: 30px;
}

.numbers-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 30px;
}

.number-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    color: white;
    font-weight: bold;
}

#generate-btn, #theme-toggle-btn {
    padding: 15px 30px;
    font-size: 1em;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    transition: background-color 0.3s ease;
}

#generate-btn:hover, #theme-toggle-btn:hover {
    background-color: var(--button-hover-bg-color);
}

#theme-toggle-btn {
    margin-top: 10px;
}
